@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Shalimar&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  background-image: url("./background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.entry {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30vw;
  padding-bottom: 30px;
  background: rgba(255,255,255,0.15);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}

.welcomeContainer {
  margin: 3rem 0 2rem 0;
}

.input{
  background: rgba(255,255,255,0.15);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
  border-radius: 2rem;
  width: 80%;
  height: 3rem;
  padding: 1rem;
  border: none;
  outline: none;
  color: #3c354e;
  font-size: 1rem;
  font-weight: bold;
  margin: 5.5px;
}

.input:focus{
  display: inline-block;
  box-shadow: 0 0 0 0.2rem #b9abe0;
  backdrop-filter: blur(12rem);
  border-radius: 2rem;
}

.input::placeholder{
  color: #b9abe099;
  font-weight: 100;
  font-size: 1rem;
}

.styledButton {
  background: linear-gradient(to right, #14163c 0%, #03217b 79%);
  text-transform: uppercase;
  text-align: center;
  padding: 3.3%;
  letter-spacing: 0.2rem;
  width: 65%;
  height: 3rem;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  margin: 15px;
}

.styledButton:hover{
  color: rgb(255, 255, 255);
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
}

.dropdown{
  margin: 25px 0 10px;
}

.construction{
  color: rgb(255, 255, 255);
  font-size: 75px;
  width: 100%;
  opacity: 0.9;
}